
menuconfig DR_COMMON_CONFIGS
	bool "Data Respons common configs"
	default y

config DR_NVRAM
	depends on DR_COMMON_CONFIGS
	bool "DR NVRAM interface"
	default y
	help
	  Read/write variables in nvram
