
menuconfig DR_COMMON_CONFIGS
	bool "Data Respons common configs"
	default y

config DR_NVRAM
	depends on DR_COMMON_CONFIGS
	bool "DR NVRAM interface"
	help
	  Read/write variables in nvram
	  
config CMD_DR_NVRAM
	depends on DR_COMMON_CONFIGS
	select DR_NVRAM
	bool "DR NVRAM interface CMD"
	help
	  Command for interface nvram
